<!-- change password form -->
<form id="change-password">
  <fieldset>
    <legend class='heading'>Change Password</legend>
    <input id="old-password" type="password" name="passwords[old]" placeholder="Old Password">
    <input id="new-password" type="password" name="passwords[new]" placeholder="New Password">
    <input type="submit" name="submit" value="Change Password">
  </fieldset>
</form>
