$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Oswald:500');
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:400,700');

.search-form {
  display: inline-block;
}

body {
  background-color: #F0F8FF;
  font-family: 'Barlow Semi Condensed', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

h1 {
  font-family: 'Oswald', sans-serif;
  color: white;
  font-weight: bold;
  font-size: 55px;
  margin: -70px;
  text-align: center;
  margin-bottom: 20px;
}

h4 {
  margin: 0;
}

h5 {
  display: inline;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

p {
  margin: 0;
}

.attr {
  font-weight: 700;
}

.bicycles {
  border-top: 1px solid #118C4E;
  margin: 0 auto;
  margin-top: 5px;
  max-width: 700px;
  padding: 5px;
  width: 100%;
  &:hover {
    background-color: white;
  }
}

.bike-img {
  width: 100%;
}

.bike-img-wrap {
  background-image: url("https://cdn.shopify.com/s/files/1/0095/4332/t/30/assets/no-image.svg?9392493596437275715");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  border: 1px solid #118C4E;
  display: inline-block;
  height: 75px;
  overflow: hidden;
  width: 75px;
}

.btn {
  color: black;
  background-color: transparent;
  outline: none;
  min-width: 145px;
  margin: 0 auto;
  &:hover, &:focus, &:active {
    // background-color: #F0FFF0;
    color: #118C4E;
    outline: none !important;
    box-shadow: none;
  }
}

.bike-btn {
  color: black;
  background-color: transparent;
  border: none;
  display: inline-block;
  font-weight: 400;
  padding: 0;
  margin-right: 5px;
  outline: none !important;
  box-shadow: none;
    &:hover, &:focus {
      color: #118C4E;
    }
}

.bike-nav {
  display: inline-block;
}

.pw-container {
  text-align: auto;
  margin: 0 auto;
  border: 1px solid black;
}

.drop {
  display: inline;
}
.drop-button {
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 5px;
  margin: 5px;
  &:hover, &:focus {
    color: #118C4E;
  }
}

.form-control {
  margin: 3px auto;
  width: 200px;
}

.header {
  background-image: url("http://mypixa.com/images/2016/04/06/GreenBicycleontheFoothpathatCityNight-FreeStockPhoto.jpg");
  background-size: cover;
  background-position: center;
  height: 35vh;
  width: 100%;
}

.left {
  margin-bottom: 15px;
}

.loader {
  width: 75px;
  margin-top: 40px;
}

.lower {
  margin: 5px;
  padding: 20px;
}

.main {
  text-align: center;
  margin: 0 auto;
  padding: 15px;
  width: 100%;
}

.menu {
  display: inline-block;
  text-align: center;
}

.message {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.right {
  overflow: auto;
}

.search-form {
  margin: 0;
}

.show-left {
  font-weight: 700;
  margin: 0;
  max-width: 110px;
  overflow: hidden;
  padding: 0;
  text-align: center;
  width: 150px;
}

.show-right {
  margin-left: -15px;
}

.sign-in-up {
  margin: 0 auto;
  text-align: center;
  width: 80%;
  max-width: 800px;
}

.stolen-label {
  margin: 0;
}

.top {
  text-align: center;
}

.top-left {
  text-align: left;
}

@media (max-width: 991px) {

}
